:root {
    --purple: #9c54a2;
}

* {
    margin: 0%;
    color: #ffffff
}

body {
    background-color: #333940;
}

header {
    text-align: center;
    padding: 2%;
}

header h1 {
    color: var(--purple);
    font-size: 28px;
    font-weight: bold;
    padding: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section {
    border-style: dashed;
}

.title-box {
    border-style: solid;
    
}

.pre-container {
    background-color: var(--purple);
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
}